



.nav {
    display:flex;
    justify-content: space-between;
    margin-left:10px;
   
}

p {
    color:#1c2826;
    font-size:1.2rem;
    margin-top:12px;
}



.rating{
    color:#ea9e8d;
}



a {
    font-size:2rem;
    color:#d64550;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight:800;
}

a:hover {
    color:#b82834;
}

