@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');
body {
    font-family: 'Metrophobic', 'sans-serif';

}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 2px -2px rgba(3, 1, 1, 0.064);
    background: #1C2826;
    color:#d64550;
    padding:20px;
}

.header-right {
    display:flex;
}


.header-right li{
   list-style: none;

}

.header-li a {
    margin-left:20px;
    font-size:30px;
    text-decoration: none;
    font-weight:700;
    color:#d64550;  
}

.header-li a:hover {
    color:#FF2625;  
    font-weight:700;   
}


.resource-card{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding:20px;
    border-radius:7px;
    transition: 0.5s;
}

.resource-card:hover {
    transform: scale(1.1);
}

main {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 1fr;
    padding:3rem;
    row-gap:3em;
    column-gap: 4em;
}

